

h3
{
    font:bold 14px arial;
    color:#0099FF;
}
h4
{
    font:bold 14px arial; color:gray; margin:0; padding:0;
}
hr
{
    border-top:1px solid #fff; border-right:1px solid #fff; border-bottom:1px solid #ccc; border-left:1px solid #fff; color: white
}
table
{
    border-collapse:collapse;
}
.bodyNoSPC
{
    width:850px; margin:0 auto;
}
.txtfld
{
    width:120px; border:1px solid #ccc; font:11px arial; color:#333;
}
.txtfldPwd
{
    width:100px; border:1px solid #ccc; font:12px arial; color:#333;
}
.normalfld
{
    width:100px; border:1px solid #ccc; text-align:center; font:11px arial; height:18px;
}
.bigfld
{
    width:180px; border:1px solid #ccc; font:11px arial; color:#333;
}
/*Border Coloums Start*/
.borderTRB{border-top:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; font:12px arial; color:#5A5A5A; padding-left:3px;}
.borderRB{border-right:1px solid #ccc; border-bottom:1px solid #ccc; font:12px arial; color:#5A5A5A; padding-left:3px;}
.borderTLB{border-top:1px solid #ccc; border-left:1px solid #ccc; border-bottom:1px solid #ccc; font:12px arial; color:#5A5A5A; padding-left:3px; }
.borderB{border-bottom:1px solid #ccc; font:12px arial; color:white; padding-left:3px;}
.borderR{border-right:1px solid #ccc; font:12px arial; color:#5A5A5A; padding-left:3px;}
.BlkborderB{border-bottom:1px solid #ccc; font:12px arial; color:#000; padding-left:3px;}
.borderTB{border-top:1px solid #ccc; border-bottom:1px solid #ccc; font:12px arial; color:#5A5A5A; padding-left:3px;}
.borderT{border-top:1px solid #ccc; font:12px arial; color:#5A5A5A; padding-left:3px;}
.borderLB{border-left:1px solid #ccc; border-bottom:1px solid #ccc; font:12px arial; color:#5A5A5A; padding-left:3px;}
.borderBTM{border-bottom:1px solid #ccc; font:12px arial; color:#5A5A5A;}
.contTxt{ font:12px arial; color:#5A5A5A;}
.contTxt11{ font:11px arial; color:#5A5A5A;}
.signuptxt{font:bold 11px verdana; color:#ffffff; padding-left:0.5em; text-align:left;}
#loginhead{width:auto; float:left; padding:2px 0; border-bottom:1px solid #fff;}
.buttonbook1{background-color:#fff; border:1px solid #fff; cursor:pointer; text-decoration:underline; color:#0000cc;}
.starmand{font:10px verdana; color:#ff0000;}
