/* CSS Document */
body
{
    margin:0; padding:0; font:14px arial; background-color:#6495ED; color: black;
}
table
{
    border-collapse:collapse;
}
.main
{
    width:905px; margin:0 auto; background:url(/beta_images/bgnd_sides.gif) repeat-y; text-align:center;
}
#header
{
    width:905px; height:77px; background:url(/beta_images/header_beta.gif) no-repeat;
}
.orngstrip{height:19px; width:874px; background-color:white; text-align:center;  margin-top:-70px; margin-right:16px; margin-left:15px;}
#orngnavi{float:right; height:12px; margin-top:2px;}
#orngnavi a{font:11px verdana; color:#fff; text-decoration:none; padding:0 0.5em; border-left:1px solid #fff;}
#orngnavi a:hover{color:#fff; text-decoration:underline;}
/* BUTTONS*/
.mainbtn{width:auto; width:auto; float:right; display:inline; margin-left:4px;}
.Leftcorner{width:3px; height:18px; float:left; display:inline; background:url(/images/buttonLT.gif) no-repeat;}
.main-btn{width:auto; display:inline; float:left;}
.buttonSubmit{font-size: 10px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, Sans-Serif; text-decoration: none;
font-weight: bold;	background-color:#4c99cc; border:none; padding:2px 3px; cursor:pointer;}